<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CadenaPrueba" 
         connectionString="Data Source=.;Initial Catalog=TEST_JARDINES;User ID=prueba;Password=Jardines**2026" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
